/* .carosal-container{
    border: 1px solid blue;
    height: 50%;
    
  } */
.homepage{
    background-color: yellow;
    /* margin-top: 30px; */
    /* z-index: -10px; */
} 
/* .carosal-container-item{
    border: 1px solid yellow;
    height: 20%;
    } */
.itemimage{
    width:100%;
    height:750px;
}