/* .carosal-container{
    border: 1px solid blue;
    height: 50%;
    
  } */

/* .carosal-container-item{
    border: 1px solid yellow;
    height: 20%;
    } */
.itemimage{
    width:100%;
    height:750px;
}
.testimonial-carousel .carousel-control::hover {
    color: red;
}

.testimonial-carousel .carousel-control::after {
    color: red;
}